h1 {
    text-align: center;
    background: #000;
    padding: 2%;
    color: #fff;
    font-family: helvetica;
    font-size: 4.5vw;
}

body {
    text-align: center;
}

img {
    margin-top: 5vw;
    width: 33%;
    float: left;
    background-repeat: repeat-x;
}
div{
/* float: left;*/
    background: green;
}
h2 {
    text-align: center;
    background: green;
    padding-bottom: 2%;
    color: #fff;
    font-family: helvetica;
    font-size: 4.5vw;
}


    